* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; 
    background-color: #f0f4ff;
    line-height: 1.6;
}

header {
    background-color: white;
    padding: 1rem 0; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: #f0f4ff;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    cursor: pointer;
    width: 75px;
    margin-right: 10px;
}

.navbar h1 {
    font-size: 1.2rem;
    color: #333;
}

.navbar .menu {
    display: flex;
    margin-left: auto;
}

.navbar .menu button {
    font-family: 'Poppins', sans-serif;
    background-color: white; 
    color: #3578e5; 
    border: 1px solid #3578e5;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

.navbar .menu button:nth-child(2) {
    background-color: #3578e5;
    color: white;
}

/* Hover effect untuk tombol lainnya */
.navbar .menu button:hover:not(:nth-child(2)) {
    background-color: #3578e5;
    color: white;
}

main {
    padding-top: 80px;
}

.form-container {
    margin-top: 80px;
    width: 70%;
    margin: 1.5rem auto;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-container h4 {
    text-align: center;
    color: #3578e5;
    margin-bottom: 0.5rem;
}

.form-box {
    border: 2px solid #3578e5;
    padding: 1rem;
    border-radius: 10px;
}

.form-box h4 {
    text-align: left;
    font-size: 0.75rem;
    color: white;
    background-color: #3578e5;
    padding: 0.75rem;
    border-radius: 5px 5px 0 0;
    margin-bottom: 1.5rem;
}

.form-box form {
    display: flex;
    flex-direction: column;
}

.form-box label {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-box input, .form-box select {
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-box input[type="file"] {
    padding: 3px;
}

.form-buttons {
    display: flex;
    justify-content: center; 
    gap: 10px;            
}


.form-buttons button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.form-buttons .btn-cancel {
    background-color: #d3d3d3;
}

.form-buttons .btn-submit {
    background-color: #3578e5;
    color: white;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f0f4ff;
    color: #666;
    margin-top: 2rem;
}
